page-sign-up {
    .login-content {
        background-image: url('../assets/imgs/picture1.jpg');
            //background: #399F8B;
        background-repeat: no-repeat;
        background-position:center;
        background-size: 30cm;
          
          }

  .ion-Items {
        background-color: rgba(0, 0, 0, 0.233);
        
         border-radius: 30px !important;
           padding-left: 30px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
           color:white;
       }
       .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      } 
      .create-btn {
        //background:rgba(128, 0, 75, 0.295);
        background: #399F8B;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
        color: #ffffff;
      }
    }